.page {
  font-family: var(--font-family, monospace);
  font-size: 18px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
  padding-bottom: 40px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px 10px 10px 0px;
  block-size: 100vh;
  max-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--button-text-color);
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--button-outline-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-text-color);
  pointer-events: none;
}

.decorative__element {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  margin: 20px;
  padding-right: 8px;
  color: var(--button-text-color);
  text-align: center;
  text-transform: uppercase;
}

.decorative__element::after {
  content: "";
  display: block;
  align-self: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 20px;
  border-top: 1px solid var(--button-text-color);
  border-right: 1px solid var(--button-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin: 20px;
  border-bottom: 1px solid var(--button-text-color);
  border-left: 1px solid var(--button-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__intro {
  justify-self: end;
  align-self: center;
  color: var(--answer-title-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--answer-title-bg-color);
  max-inline-size: 355px;
  max-block-size: 117px;
}

.topic {
  display: grid;
  gap: 20px;
}

.topic__title {
  margin-block-start: 40px;
  color: var(--topic-title-color);
  font-size: 18px;
}

.topic__card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.topic__answer-title {
  color: var(--answer-title-color);
  font-size: 18px;
  background-color: var(--answer-title-bg-color);
}

.topic__answer-title-light {
  font-weight: 400;
}

.topic__answer-text {
  margin-block-start: 10px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.topic__pictures {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 20px;
}

.topic__pictures-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.topic__image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  inline-size: 100vi;
  max-block-size: 668px;
  max-inline-size: 1440px;
}

@media (width >= 768px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-block-start: 40px;
    padding: 20px 20px 60px 20px;
  }

  .header {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-block-size: 1024px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__intro {
    max-inline-size: 364px;
  }

  .topic {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

.topic:nth-of-type(2) {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
}

.topic:nth-of-type(2) .topic__card-container {
  grid-area: 2/1/3/3;
}

.topic__card-container {
    grid-column: 2 / 3;
  }

.topic__title {
    grid-column: 1 / 2;
    margin-block-start: 0;
  }

  .topic__pictures-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 20px;
  }
  
  .topic__image:first-of-type {
  grid-column: 1 / 3;
}

.topic__image:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.topic__image:nth-of-type(3) {
  grid-row: 2 / 4;
}

.topic__image:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.topic__image:last-of-type {
  grid-column: 2 / 4;
}

.topic:first-of-type {
  grid-template-columns: 1fr 2fr;
}

.topic:nth-of-type(3) {
  grid-template-columns: 1fr 2fr;
}

.footer {
  max-block-size: 1024px;
}
}

@media (width >= 1024px) {
  
  .header {
    max-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__intro {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .topic {
    gap: 10px;
  }

  .topic:nth-of-type(2) .topic__card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
    margin-block-start: 10px;
  }

  .footer {
    max-block-size: 768px;
  }
}