.page {
  font-family: var(--font-family, monospace);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border-inline-end: 1px solid var(--button-text-color);
  border-block-start: 1px solid var(--button-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  border-inline-start: 1px solid var(--button-text-color);
  border-block-end: 1px solid var(--button-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--button-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--button-text-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-text-color);
  pointer-events: none;
}

.decorative-element {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  margin: 10px;
  padding-inline-end: 8px;
  color: var(--button-text-color);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decorative-element::after {
  content: "";
  display: block;
  align-self: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__intro {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  color: var(--answer-title-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--answer-title-bg-color);
  max-inline-size: 355px;
  max-block-size: 117px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 32px;
  padding: 10px;
  padding-block-end: 40px;
}

.topic {
  display: grid;
  gap: 20px;
}

.topic__title {
  color: var(--topic-title-color);
  font-size: 18px;
}

.topic__card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.topic__answer-title {
  color: var(--answer-title-color);
  font-size: 18px;
  background-color: var(--answer-title-bg-color);
}

.topic__answer-title-light {
  font-weight: 400;
}

.topic__answer-text {
  margin-block-start: 10px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.topic__pictures {
  display: grid;
  gap: 10px;
}

.topic__pictures-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.topic__image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

/* МЕДИА 768 */

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0px;
  }

  .decorative-element {
    margin: 20px;
  }

  .decorated-zone::before {
    margin: 20px;
  }

  .decorated-zone::after {
    margin: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__intro {
    max-inline-size: 364px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-block-start: 40px;
    padding: 20px 20px 60px 20px;
  }

  .topic {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .topic:nth-of-type(2) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }

  .topic__card-container {
    grid-column: 2 / 3;
  }

  .topic:nth-of-type(2) .topic__card-container {
    grid-area: 2 / 1 / 3 / 3;
  }

  .topic__pictures {
    display: grid;
    gap: 20px;
  }

  .topic__pictures-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 20px;
  }

  .topic__image:first-of-type {
    grid-column: 1 / 3;
  }

  .topic__image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .topic__image:nth-of-type(3) {
    grid-row: 2 / 4;
  }

  .topic__image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .topic__image:last-of-type {
    grid-column: 2 / 4;
  }
}

/* МЕДИА 1024 */

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color-large-monitor);
  }

  .header__intro {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .topic {
    display: grid;
    gap: 8px;
  }

  .topic:nth-of-type(2) .topic__card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    margin-block-start: 10px;
  }
}